{% extends 'base.html.twig' %}

{% block body %}
<div class="column is-12">
    <h2 class="title">Lista użytkowników</h2>

    <table class="table is-hoverable is-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Typ konta</th>
                <th>Status aktywności</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.login }}</td>
                <td>{{ user.typeAccount }}</td>
                <td>{{ user.active }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}" class="primary-button inline-block">Pokaż</a>

                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="primary-button inline-block">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
